BOT_TOKEN=8467938586:AAG1UDrHvWpgoZ3zI2vw_ranUZjajPoyuh4
ADMIN_TELEGRAM_ID=6123609704
DATABASE_URL=sqlite:///./shop.db
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:8000
MINI_APP_URL=https://yourdomain.com/app
SECRET_KEY=your-secret-key-change-in-production
DEBUG=False
